extends ../layout

block content
  input#userid(type="text")
  input#password(type="password")
  input#name(type="text")
  button#send 보내기
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/js/join.js")