@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Nanum+Gothic:wght@700&display=swap');

.myBubbleUI {
    height : 550px;
    background-color: rgb(0,0,0,0.1);
    margin : 0 auto;
    padding : 20px;
}

.Child {
    width : 100%;
    height : 100%;
    border-radius:50%;
}

.childComponent {
    width : 100%;
    height : 100%;
    border-radius: 50%;
    /* background-color: rgb(250,120,120); */
    display: flex;
    align-items: center;
    justify-content : center;
    font-family: 'Cinzel',serif;
    font-family: 'Nanum Gothic',sans-serif;
}

.childComponent:hover{
    opacity : 0.8; 
}
